<%= turbo_stream_from @discussion %>
<div class="px-12 py-9">
  <%= render partial: "discussions/header", locals: { discussion: @discussion } %>

  <div id="posts" class="space-y-3 mt-4">
    <%= render partial: "discussions/posts/post", collection: @posts %>
  </div>

  <div id="<%= dom_id(@new_post) %>" class="mt-6">
    <%= render "discussions/posts/form", post: @new_post %>
  </div>

  <div class="mt-6">
    <%= link_to "← Back to Discussions", discussions_path, class: "ck-meta", style: "color: #a6d6ff;" %>
  </div>
</div>
